@model IEnumerable<WebDraw.Models.Chain>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartSuggestion.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartSuggestion.Description)
            <div>
                <ul>
                    @foreach (var entry in item.Entries)
                    {
                        <li>@entry.User.VisibleName</li>
                    }
                </ul>
            </div>
        </td>
        <td>
            @Html.ActionLink("Draw", "Index", "Draw", new { id=item.Id }, null) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("View All", "FullChain", "Draw", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
